@model UnionManager.ViewModels.Boss.BossViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Contents/persianDatepicker-master/persianDatepicker-master/css/persianDatepicker-default.css" rel="stylesheet" />
}

@if (Model.Trade == null)
{
    <div class="alert alert-block alert-warning fade in">
        <i class="icon-warning-sign"></i> &nbsp;&nbsp; این کاربر در هیچ صنفی نقش مدیر ندارد
    </div>
}
else
{
    @Html.Hidden("TradeId", Model.Trade.Id, new { id = "hidden_tradeId" })
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="/Home/Index"><i class="icon-home"></i>خانه</a></li>
                <li class="active">رانندگان و وسایل نقلیه</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">جزئیات صنف @Model.Trade.Name</header>
                <div class="row" style="padding: 10px 40px 10px 20px">
                    <div class="row">
                        <div class="col-lg-2">
                            نام صنف
                        </div>
                        <div class="col-lg-10">
                            <p style="color: #a55518; font-size: 12px;" id="lbl_TradeName">@Model.Trade.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            گروه صنف
                        </div>
                        <div class="col-lg-10">
                            <p style="color: #a55518; font-size: 12px;" id="lbl_TradeGroupName">@Model.Trade.TradeGroup.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            شماره تلفن
                        </div>
                        <div class="col-lg-10">
                            <p style="color: #a55518; font-size: 12px;" id="lbl_TradeTel">@Model.Trade.Tel</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            آدرس
                        </div>
                        <div class="col-lg-10">
                            <p style="color: #a55518; font-size: 12px;" id="lbl_TradeAddress">@Model.Trade.Address</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    if (Model.Trade != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">لیست رانندگان و وسایل نقلیه</header>
                    <div class="row" style="padding: 10px;">
                        <div class="col-lg-12">
                            <a href="#modal_AddUser" data-toggle="modal" class="btn btn-default" id="btn_AddUser">راننده جدید</a>
                        </div>
                    </div>
                    @Html.Partial("_UserAndVehiclesListBoss", Model)
                </section>
            </div>
        </div>
    }



    <!--user modal-->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_AddUser" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button" id="btn_CloseAddUserModal">×</button>
                    <h4 class="modal-title">افزودن راننده</h4>
                </div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("AddUserBoss", "Boss", null, new AjaxOptions { Url = "/Boss/AddUserBoss", HttpMethod = "Post", OnSuccess = "AddUserSuccess" }, new { enctype = "multipart/form-data", id = "frm_AddUser", autocomplete = "off" }))
                {
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Name, new { @class = "required" })
                            @Html.TextBoxFor(model => model.User.Name, new { @class = "form-control", id = "txt_UserName" })
                            @Html.ValidationMessageFor(model => model.User.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Family, new { @class = "required" })
                            @Html.TextBoxFor(model => model.User.Family, new { @class = "form-control", id = "txt_UserFamily" })
                            @Html.ValidationMessageFor(model => model.User.Family)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.FatherName)
                            @Html.TextBoxFor(model => model.User.FatherName, new { @class = "form-control", id = "txt_UserFatherName" })
                            @Html.ValidationMessageFor(model => model.User.FatherName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Gender)<br />
                            @Html.RadioButtonFor(model => model.User.Gender, "true") مرد
                            @Html.RadioButtonFor(model => model.User.Gender, "false") زن
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.NationalCode, new { @class = "required" })
                            @Html.TextBoxFor(model => model.User.NationalCode, new { @class = "form-control", id = "txt_UserNationalCode" })
                            @Html.ValidationMessageFor(model => model.User.NationalCode)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.IdNo)
                            @Html.TextBoxFor(model => model.User.IdNo, new { @class = "form-control", id = "txt_UserIdNo" })
                            @Html.ValidationMessageFor(model => model.User.IdNo)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.BirthDate)
                            @Html.TextBoxFor(model => model.User.BirthDate, new { @class = "form-control birthDate", id = "txt_UserBirthDate" })
                            @Html.ValidationMessageFor(model => model.User.BirthDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Mobile)
                            @Html.TextBoxFor(model => model.User.Mobile, new { @class = "form-control", id = "txt_UserMobile" })
                            @Html.ValidationMessageFor(model => model.User.Mobile)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Tel)
                            @Html.TextBoxFor(model => model.User.Tel, new { @class = "form-control", id = "txt_UserTel" })
                            @Html.ValidationMessageFor(model => model.User.Tel)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Username, new { @class = "required" })
                            @Html.TextBoxFor(model => model.User.Username, new { @class = "form-control", id = "txt_UserUsername" })
                            @Html.ValidationMessageFor(model => model.User.Username)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Password, new { @class = "required" })
                            @Html.PasswordFor(model => model.User.Password, new { @class = "form-control", id = "txt_UserPassword" })
                            @Html.ValidationMessageFor(model => model.User.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.ConfirmPassword, new { @class = "required" })
                            @Html.PasswordFor(model => model.User.ConfirmPassword, new { @class = "form-control", id = "txt_UserConfirmPassword" })
                            @Html.ValidationMessageFor(model => model.User.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Image)
                            <div id="image-holder"></div>
                            @Html.Upload("UploadImage", new { id = "UploadImage" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.IsInsuranced)
                            @Html.CheckBoxFor(model => model.User.IsInsuranced)
                        </div>
                        <button type="submit" class="btn btn-success">ذخیره</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--end user modal-->
    <!--vehicle modal-->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_AddVehicle" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button" id="btn_CloseAddVehicleModal">×</button>
                    <h4 class="modal-title">افزودن وسیله نقلیه</h4>
                </div>
                <div class="modal-body">
                    @using (Ajax.BeginForm("AddVehicleBoss", "Boss", null, new AjaxOptions { Url = "/Boss/AddVehicleBoss", HttpMethod = "Post", OnSuccess = "AddVehicleSuccess" }, new { id = "frm_AddVehicle", autocomplete = "off" }))
                {
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle.Model, new { @class = "required" })
                            @Html.TextBoxFor(model => model.Vehicle.Model, new { @class = "form-control", id = "txt_VehicleModel" })
                            @Html.ValidationMessageFor(model => model.Vehicle.Model)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle.VehicleGroupId, new { @class = "required" })
                            @Html.DropDownListFor(model => model.Vehicle.VehicleGroupId, new SelectList(Model.VehicleGroups, "Id", "Name"), "گروه وسیله نقلیه را انتخاب کنید", new { @class = "form-control m-bot15", id = "drp_VehicleGroupId" })
                            @Html.ValidationMessageFor(model => model.Vehicle.VehicleGroupId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle.NumberPlates, new { @class = "required" })
                            <div style="height: 42px; border: 1px solid #e2e2e4; border-radius: 4px; direction: ltr; padding: 3px;">
                                <img src="~/Files/Icons/202px-Non-EU-section-with-IR_svg.jpg" style="height: 32px; width: 4%; margin-bottom: 4px;" />
                                <input type="text" maxlength="2" min="10" required name="np_FirstNum" value="" style="color: #909090; outline: none; margin-left: 1%; border: 1px solid #e2e2e4; border-radius: 4px; height: 34px; width: 22%; text-align: center;" />
                                <select required name="np_Letter" style="color: #909090; outline: none; margin-left: 1%; border: 1px solid #e2e2e4; border-radius: 4px; height: 34px; width: 15%; text-align: center;">
                                    <option value=""></option>
                                    <option value="الف">الف</option>
                                    <option value="ب">ب</option>
                                    <option value="پ">پ</option>
                                    <option value="ت">ت</option>
                                    <option value="ث">ث</option>
                                    <option value="ج">ج</option>
                                    <option value="چ">چ</option>
                                    <option value="ح">ح</option>
                                    <option value="خ">خ</option>
                                    <option value="د">د</option>
                                    <option value="ذ">ذ</option>
                                    <option value="ر">ر</option>
                                    <option value="ز">ز</option>
                                    <option value="ژ">ژ</option>
                                    <option value="س">س</option>
                                    <option value="ش">ش</option>
                                    <option value="ص">ص</option>
                                    <option value="ض">ض</option>
                                    <option value="ط">ط</option>
                                    <option value="ظ">ظ</option>
                                    <option value="ع">ع</option>
                                    <option value="غ">غ</option>
                                    <option value="ف">ف</option>
                                    <option value="ق">ق</option>
                                    <option value="ک">ک</option>
                                    <option value="گ">گ</option>
                                    <option value="ل">ل</option>
                                    <option value="م">م</option>
                                    <option value="ن">ن</option>
                                    <option value="و">و</option>
                                    <option value="ه">ه</option>
                                    <option value="ی">ی</option>
                                </select>
                                <input type="text" maxlength="3" min="100" required name="np_SecondNum" value="" style="color: #909090; outline: none; margin-left: 1%; border: 1px solid #e2e2e4; border-radius: 4px; height: 34px; width: 29%; text-align: center;" />
                                <input type="text" maxlength="2" min="10" required name="np_ThirdNum" value="" style="color: #909090; outline: none; margin-left: 1%; border: 1px solid #e2e2e4; border-radius: 4px; height: 34px; width: 22%; text-align: center;" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle.VINName, new { @class = "required" })
                            @Html.TextBoxFor(model => model.Vehicle.VINName, new { @class = "form-control", id = "txt_VehicleVINName" })
                            @Html.ValidationMessageFor(model => model.Vehicle.VINName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Vehicle.ColorId, new { @class = "required" })
                            @Html.DropDownListFor(model => model.Vehicle.ColorId, new SelectList(Model.Colors, "Id", "Name"), "رنگ را انتخاب کنید", new { @class = "form-control m-bot15", id = "drp_ColorId" })
                            @Html.ValidationMessageFor(model => model.Vehicle.ColorId)
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.Vehicle.IsHybrid, new { id = "chbx_VehicleIsHybrid" })
                            @Html.LabelFor(model => model.Vehicle.IsHybrid)
                        </div>
                        <button type="submit" class="btn btn-success" id="btn_AddVehicle">ذخیره</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--end vehicle modal-->
}

@section scripts{
    <script src="~/Contents/persianDatepicker-master/persianDatepicker-master/js/persianDatepicker.js"></script>

    <script>
        var relationId = null;

        var tradeId = null;
        if ($("#hidden_tradeId").val()) {
            tradeId = $("#hidden_tradeId").val()
        }

        ///////////////////////////birthDate
        $("#txt_UserBirthDate").persianDatepicker({
            cellWidth: 50,
            cellHeight: 30,
            fontSize: 12,
            calendarPosition: {
                x: 0,
                y: 0,
            }
        });

        // show image
        $("#UploadImage").change(function (e) {
            var filename = $("#UploadImage").val().split('\\').pop();
            var extension = filename.split('.').pop();
            if (extension == "png" || extension == "jpg" || extension == "gif" || extension == "bmp") {
                var fileSize = $("#UploadImage")[0].files[0].size;
                if (fileSize < 2000001) {
                    if (typeof (FileReader) != "undefined") {
                        var image_holder = $("#image-holder");
                        image_holder.empty();
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "width": "128"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[0]);
                    }
                }
                else {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    $("#UploadImage").val('');
                    alert("حجم فایل تصویر باید کمتر از 2 مگابایت باشد");
                }
            }
            else {
                var image_holder = $("#image-holder");
                image_holder.empty();
                $("#UploadImage").val('');
                alert("فایل تصویر معتبر نیست");
            }
        });

        //------------------------------------------- user ----------------------------------------------
        function AddUserSuccess(data) {
            if (data.Success) {
                var userId = data.UserId;
                $.ajax({
                    url: "/Boss/AddRelationForUser",
                    data: { userId: userId, tradeId: tradeId },
                    type: "Post",
                    datatype: "Json",
                    success: function (result) {
                        if (result.Success) {
                            uploadImage();
                        }
                        else {
                            eval(result.Script);
                        }
                    },
                    error: function () {
                        alert('خطا!');
                    }
                });
            }
            else {
                eval(data.Script);
            }
        }

        function uploadImage() {
            var formData = new FormData();
            var totalFiles = document.getElementById("UploadImage").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("UploadImage").files[i];
                formData.append("UploadImage", file);
            }

            $.ajax({
                type: "POST",
                url: '/Boss/UploadUserImage',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result.Success) {
                        eval(result.Script);
                        window.location = '/Boss/Details';
                    }
                    else {
                        eval(result.Script);
                    }
                },
                error: function () {
                    alert('خطا!');
                }
            });
        }

        //------------------------------------------- vehicle ----------------------------------------------
        function setRelationIdForAddingVehicle(id) {
            relationId = id;
        }

        function AddVehicleSuccess(data) {
            if (data.Success) {
                var vehicleId = data.VehicleId;
                $.ajax({
                    url: "/Boss/AddRelationForVehicle",
                    data: { vehicleId: vehicleId, relationId: relationId },
                    type: "Post",
                    datatype: "Json",
                    success: function (result) {
                        if (result.Success) {
                            eval(result.Script);
                            window.location = '/Boss/Details';
                        }
                        else {
                            eval(result.Script);
                        }
                    },
                    error: function () {
                        alert('خطا!');
                    }
                });
            }
            else {
                eval(data.Script);
            }
        }

        function resetVehicle(id) {
            if (confirm('وسیله نقلیه مورد نظر از صنف حذف می شود. مطمئن هستید؟')) {
                $.ajax({
                    url: "/Boss/ResetVehicle",
                    data: { relationId: id },
                    type: "Post",
                    datatype: "Json",
                    success: function (result) {
                        if (result.Success) {
                            eval(result.Script);
                            window.location = '/Boss/Details';
                        }
                        else {
                            eval(result.Script);
                        }
                    },
                    error: function () {
                        alert('خطا!');
                    }
                });
            }
        }

        //------------------------------------------- relation ----------------------------------------------
        function deleteRelation(id) {
            if (confirm('رکورد مورد نظر حذف می شود. مطمئن هستید؟')) {
                $.ajax({
                    url: "/Boss/DeleteRelation",
                    data: { id: id },
                    type: "Post",
                    datatype: "Json",
                    success: function (result) {
                        if (result.Success) {
                            eval(result.Script);
                            window.location = '/Boss/Details';
                        }
                        else {
                            eval(result.Script);
                        }
                    },
                    error: function () {
                        alert('خطا!');
                    }
                });
            }
        }
    </script>
}

